<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assests/style.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>O que é o Spotify?</h1>
      <p1>O Spotify é um serviço digital que dá acesso instantâneo a milhões de <br> músicas, podcasts, vídeos e outros conteúdos de criadores no mundo todo. <br>
<br>
        As funções básicas são gratuitas, como a reprodução de músicas, mas você<br> também pode fazer upgrade para o Spotify Premium. <br>
        <br>
        Com ou sem o Premium, você pode: <br>
        
        Ver recomendações com base no seus gostos. <br>
        Montar coleções de músicas e podcasts. <br>
        E muito mais! <br>
        <br>
        O Spotify está disponível para vários dispositivos, incluindo computadores, <br> celulares, tablets, alto-falantes, TVs e carros. Além disso, é muito fácil mudar <br> de um dispositivo para outro com o Spotify Connect. <br> 
      </p1>  
      <h2>Posso guardar as músicas do Spotify?</h2>
      <p2>O Spotify só dá acesso a músicas e podcasts pelos nossos apps. Devido às <br> nossas licenças, não é possível exportar nosso conteúdo para fora do app. <br>
      </p2>
    </header>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav-logo">
          <p><a href="../index.html">Spotify</a></p>
        </div>
        <!--NAV-LOGO-->
        <div class="nav-menu">
          <ul>
            <li><a href="../index.html" class="link active">Home</a></li>
            <li><a href="sobre.html" class="link">Sobre</a></li>
            <li><a href="cadastro.html" class="link">Cadastro</a></li>
            <li><a href="login.html" class="link">Login</a></li>
          </ul>
        </div>
        <!--NAV-MENU-->
        <div class="nav-menu-btn">
          <i class="bx bx-menu"></i>
        </div>
        <!--NAV-MENU-BTN-->
      </nav>
      <!--NAV-->
    </div>
  </body>
</html>
<footer>
	<p>&copy; 2024 - Todos os direitos reservados</p>
	<nav>
		<ul>
			<li><a href="#">Termos de uso</a></li>
			<li><a href="#">Política de privacidade</a></li>
			<li><a href="#">Sobre nós</a></li>
		</ul>
	</nav>
</footer>